/*!
 * Start Bootstrap - SB Admin 2 v3.3.7+1 (http://startbootstrap.com/template-overviews/sb-admin-2)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
body {
  background-color: #f8f8f8;
}
.u_settings{color:#fff;}
#wrapper {
  width: 100%;
}
#page-wrapper {
  padding: 0 15px;
  min-height: 568px;
  background-color: white;
}
@media (min-width: 768px) {
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 250px;
    padding: 0 30px;
    border-left: 1px solid #e7e7e7;
  }
}
a.dropdown-toggle{color:#fff;}
.navbar-top-links {
  margin-right: 0;
}
.navbar-top-links li {
  display: inline-block;
}
.navbar-top-links li:last-child {
  margin-right: 15px;
}
.navbar-top-links li a {
  padding: 15px;
  min-height: 50px;
 
}
.navbar-top-links .dropdown-menu li {
  display: block;
}
.navbar-top-links .dropdown-menu li:last-child {
  margin-right: 0;
}
.navbar-top-links .dropdown-menu li a {
  padding: 3px 20px;
  min-height: 0;
}
.navbar-top-links .dropdown-menu li a div {
  white-space: normal;
}
.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
  width: 310px;
  min-width: 0;
}
.navbar-top-links .dropdown-messages {
  margin-left: 5px;
}
.navbar-top-links .dropdown-tasks {
  margin-left: -59px;
}
.navbar-top-links .dropdown-alerts {
  margin-left: -123px;
}
.navbar-top-links .dropdown-user {
  right: 0;
  left: auto;
}
.sidebar .sidebar-nav.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}
.sidebar .sidebar-search {
  padding: 15px;
}
.sidebar ul li {
  border-bottom: 1px solid #e7e7e7;
}
.sidebar ul li a.active {
  background-color: #eeeeee;
}
.sidebar .arrow {
  float: right;
}
.sidebar .fa.arrow:before {
  content: "\f104";
}
.sidebar .active > a > .fa.arrow:before {
  content: "\f107";
}
.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
  border-bottom: none !important;
}
.sidebar .nav-second-level li a {
  padding-left: 37px;
}
.sidebar .nav-third-level li a {
  padding-left: 52px;
}
@media (min-width: 768px) {
  .sidebar {
    z-index: 1;
    position: absolute;
    width: 250px;
    margin-top: 51px;
  }
  .navbar-top-links .dropdown-messages,
  .navbar-top-links .dropdown-tasks,
  .navbar-top-links .dropdown-alerts {
    margin-left: auto;
  }
}
.btn-outline {
  color: inherit;
  background-color: transparent;
  transition: all .5s;
}
.btn-primary.btn-outline {
  color: #428bca;
}
.btn-success.btn-outline {
  color: #5cb85c;
}
.btn-info.btn-outline {
  color: #5bc0de;
}
.btn-warning.btn-outline {
  color: #f0ad4e;
}
.btn-danger.btn-outline {
  color: #d9534f;
}
.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: white;
}
.chat {
  margin: 0;
  padding: 0;
  list-style: none;
}
.chat li {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #999999;
}
.chat li.left .chat-body {
  margin-left: 60px;
}
.chat li.right .chat-body {
  margin-right: 60px;
}
.chat li .chat-body p {
  margin: 0;
}
.panel .slidedown .glyphicon,
.chat .glyphicon {
  margin-right: 5px;
}
.chat-panel .panel-body {
  height: 350px;
  overflow-y: scroll;
}
.login-panel {
  margin-top: 25%;
}
.flot-chart {
  display: block;
  height: 400px;
}
.flot-chart-content {
  width: 100%;
  height: 100%;
}
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  background: transparent;
}/*
table.dataTable thead .sorting_asc:after {
  content: "\f0de";
  float: right;
  font-family: fontawesome;
}
table.dataTable thead .sorting_desc:after {
  content: "\f0dd";
  float: right;
  font-family: fontawesome;
}

table.dataTable thead .sorting:after {
  content: "\f0dc";
  float: right;
  font-family: fontawesome;
  color: rgba(50, 50, 50, 0.5);
}*/
.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.428571429;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  border-radius: 25px;
  font-size: 18px;
  line-height: 1.33;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}
.show-grid [class^="col-"] {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #ddd;
  background-color: #eee !important;
}
.show-grid {
  margin: 15px 0;
}
.huge {
  font-size: 40px;
}
.panel-green {
  border-color: #5cb85c;
}
.panel-green > .panel-heading {
  border-color: #5cb85c;
  color: white;
  background-color: #5cb85c;
}
.panel-green > a {
  color: #5cb85c;
}
.panel-green > a:hover {
  color: #3d8b3d;
}
.panel-red {
  border-color: #d9534f;
}
.panel-red > .panel-heading {
  border-color: #d9534f;
  color: white;
  background-color: #d9534f;
}
.panel-red > a {
  color: #d9534f;
}
.panel-red > a:hover {
  color: #b52b27;
}
.panel-yellow {
  border-color: #f0ad4e;
}
.panel-yellow > .panel-heading {
  border-color: #f0ad4e;
  color: white;
  background-color: #f0ad4e;
}
.panel-yellow > a {
  color: #f0ad4e;
}
.panel-yellow > a:hover {
  color: #df8a13;
}

.panel-purple {
  border-color: #a902bd;
}
.panel-purple > .panel-heading {
  border-color: #a902bd;
  color: white;
  background-color: #a902bd;
}
.panel-purple > a {
  color: #a902bd;
}
.panel-purple > a:hover {
  color: #44004c;
}

.panel-aqua {
  border-color: #009da5;
}
.panel-aqua > .panel-heading {
  border-color: #009da5;
  color: white;
  background-color: #009da5;
}
.panel-aqua > a {
  color: #009da5;
}
.panel-aqua > a:hover {
  color: #006e73;
}

.timeline {
  position: relative;
  padding: 20px 0 20px;
  list-style: none;
}
.timeline:before {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 3px;
  margin-left: -1.5px;
  background-color: #eeeeee;
}
.timeline > li {
  position: relative;
  margin-bottom: 20px;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  float: left;
  position: relative;
  width: 46%;
  padding: 20px;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline > li > .timeline-panel:before {
  content: " ";
  display: inline-block;
  position: absolute;
  top: 26px;
  right: -15px;
  border-top: 15px solid transparent;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #ccc;
}
.timeline > li > .timeline-panel:after {
  content: " ";
  display: inline-block;
  position: absolute;
  top: 27px;
  right: -14px;
  border-top: 14px solid transparent;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  border-left: 14px solid #fff;
}
.timeline > li > .timeline-badge {
  z-index: 100;
  position: absolute;
  top: 16px;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  border-radius: 50% 50% 50% 50%;
  text-align: center;
  font-size: 1.4em;
  line-height: 50px;
  color: #fff;
  background-color: #999999;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.timeline-badge.primary {
  background-color: #2e6da4 !important;
}
.timeline-badge.success {
  background-color: #3f903f !important;
}
.timeline-badge.warning {
  background-color: #f0ad4e !important;
}
.timeline-badge.danger {
  background-color: #d9534f !important;
}
.timeline-badge.info {
  background-color: #5bc0de !important;
}
.timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}

.panel-assigned {
}

.panel-assigned  .assigned-list {
	height:400px;
	overflow-y:scroll;
}

.panel-assigned  .assigned-list img {
	width:18px;
	height:18px;
	margin-right:5px;
}

.panel-profile {
}

.panel-profile {
	overflow:hidden;
}

.panel-profile .profile-info img{
	width:100%;
}

.panel-profile .profile-info label{
	width:100%;
}

#gamelistings-container .panel-game {
	height:230px;
	padding:0;
	background-color:transparent;
}
#gamelistings-container .panel-game{
	padding:5px;
}

#gamelistings-container .panel-game a{
	cursor:pointer;
}


#gamelistings-container .panel-game .title{
	height:20%;
	background-color:#f8f8f8;
	border-bottom:1px solid #b5b5b5;
	border-right:1px solid #b5b5b5;
	border-left:1px solid #b5b5b5;
	padding:1px 5px 5px 20px;
}
#gamelistings-container .panel-game img{
	width:100%;
	height:80%;
	border:1px solid #b5b5b5;
}

#guidance-container img {
	height:auto;
	width:auto;
	border:1px solid #e4e4e4;
	display: inline;
	cursor:pointer;
}
#guidance-container p {
	padding-left:10px;
}

#guidance-container .video-row{
	padding:10px 5px;
	border:1px solid #cecece;
	position:relative;
}

#guidance-container .panel-guidance {
	padding:10px;
	padding-top:20px;
}

#guidance-container .panel-guidance > div{
	margin-bottom:20px;
}

#guidance-container .btn-delete-video{
	position:absolute;
	top:5px;
	right:10px;
}


.ajax-loader{
    background-repeat: no-repeat;
	background-image:url('../images/ajax.svg');
	background-size: 50px 50px;	
	height:50px;
	width:50px;
	margin:auto;
}

.add-activity {
	cursor:pointer;
}


#spice-activities-container table tr td{
	text-align:center;
	vertical-align:middle;
}


.panel-guidance .glyphicon { margin-right:5px; }
.panel-guidance .btn-container a{ margin:5px }
.panel-guidance .thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.panel-guidance .item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.panel-guidance .item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.panel-guidance .item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.panel-guidance .item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.panel-guidance .item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.caption h4 {
	text-align:center;
}
.panel-guidance .item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.panel-guidance .item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.panel-guidance .item.list-group-item img
{
    float: left;
}
.panel-guidance .item.list-group-item:after
{
    clear: both;
}
.panel-guidance .list-group-item-text
{
    margin: 0 0 11px;
}

.test-border {
	border:1px solid black;
	
}

.messages-padding {
	padding-left:317px;
	position:relative;
	height:100%;
}

.messages-recent-chats {
	width:350px;
	position:fixed;
	left:250px;
	overflow-y:scroll;
	height:100%;
}

#ana {
	box-sizing: border-box;
	padding: 5px;
	font-family: "Arial";
	font-size: 14px;
}

.profil {
	padding-top:10px;
	padding-bottom:10px;
	border-bottom:1px solid #ececec;
	cursor:pointer;
}

.profil:hover {
	background-color:#ececec;
}

.pfoto img {
	border-radius: 100%;
	width: 100%;
	max-width: 40px;
	height: 45px;
}

.pfoto {
	padding: 5px;
	float: left;
	width: 15%;
	box-sizing: border-box;
}

.mesaj {
	float: left;
	margin-top: 7px;
	position: relative;
	width: 85%;
	box-sizing: border-box;
	line-height: 1.4em;
}

.mesaj span.right {
	position: absolute;
	right: 10px;
	color: #007ee5;
	font-weight: bold;
}

.mesaj span.kisi {
	font-weight: 600;
}

.temizle {
	clear: both;
}


.chatbox
{
	height:calc(100vh - 51px);
	border-left: 1px solid #b2b2b2;
	border-right: 1px solid #b2b2b2;
	position:relative;
}
.chatbox *
{
	background: none;
	border: none;
}
.chatbox .panel-heading
{
	background: #4b67a8;
	border: 1px solid #2e4588;
	color:#FFF;
}
.chatbox .panel-heading a:nth-of-type(1)
{
	text-decoration: none;
	width: 290px;
	color:#FFF;
	font-weight: bold;
	float:left;
}
.chatbox .panel-heading a:nth-of-type(2)
{
	text-decoration: none;
	max-width: 11px;
	width: 11px;
	color:#FFF;
	float:right;
}
.chatbox .panel-body
{
	display: block;
	padding: 0;
	margin: 0;
	max-height: 250px;
	height: 250px;
}
.chatbox .panel-body::-webkit-scrollbar {
	 display: none;
 }
.chatbox .panel-body .messageMe
{
	border-bottom:1px dotted #b2b2b2;
	position:relative;
	padding:5px;
}

.chatbox .panel-body .messageMe .messagecontent
{
	float:left;
	padding-left:60px;
	padding-right:50px;
	background-color:#FFF;
	min-height:50px;
	width:100%;
}

.chatbox .panel-body .messageMe img
 {
	position:absolute;
	left:5px;
	max-width: 50px;
	max-height: 50px;
 }
 
.chatbox .panel-body .messageMe span
{
	display: block;
	float:left;
	padding: 5px;
	min-width:300px;
	word-break: break-all;
	clear:both;
}

.chatbox .panel-body .messageMe span:last-child
{
	min-height:25px;
}	

.chatbox .panel-body .messageHer
{
	border-bottom:1px dotted #b2b2b2;
	padding:5px;
}
.chatbox .panel-body .messageHer img
{
	position:absolute;
	right:5px;
	max-width: 50px;
	max-height: 50px;
}

.chatbox .panel-body .messageHer .messagecontent
{
	float:right;
	padding-left:60px;
	padding-right:60px;
	background-color:#FFF;
	min-height:50px;
	width:100%;
}
	
.chatbox .panel-body .messageHer span
{
	display: block;
	float:right;
	padding: 5px;
	background: #FFF;
	min-width:300px;
	word-break: break-all;
	text-align:right;
	clear:both;
}

.chatbox .panel-body .messageHer span:last-child
{
	min-height:25px;
}

.chatbox .panel-footer
{
	padding: 0;
	margin: 0;
	border: 1px solid #b2b2b2;
	max-height: 75px;
	height: 75px;
	position:absolute;
	bottom:0;
	width:100%;
}
.chatbox .panel-footer textarea
{
	margin-bottom: -5px;
	resize: none;
	width: 100%;
	height: 100%;
}

.clearFix {
	clear:both;
}
	
@media (max-width: 767px) {
  ul.timeline:before {
    left: 40px;
  }
  ul.timeline > li > .timeline-panel {
    width: calc(10%);
    width: -moz-calc(10%);
    width: -webkit-calc(10%);
  }
  ul.timeline > li > .timeline-badge {
    top: 16px;
    left: 15px;
    margin-left: 0;
  }
  ul.timeline > li > .timeline-panel {
    float: right;
  }
  ul.timeline > li > .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
  }
  ul.timeline > li > .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
  }
}
